
<table class="table-striped">
  <thead>
    <form method="get">
      <legend>Search</legend>
        <input type = 'text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword'>
    </form>
    </br><%= page_entries_info @books %>
    <tr>
      <th class="col-md-1">Title</th>
      <th class="col-md-1">Author</th>
      <th class="col-md-5">Description</th>
      <th class="col-md-1">Category</th>
      <th class="col-md-1">ISBN</th>
      <th class="col-md-1">Cover</th>
      <th class="col-md-1">Rating</th>
      <th class="col-md-1" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr class='<%= "finished" if book.finished? %>'>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= "#{book.description[0..350]}..." %></td>
        <td><%= link_to book.category.descr, books_path(filter: book.category.id) if book.category.present? %></td>
        <td><%= book.isbn %></td>
        <td><%= image_from_amazon(book.amazon_id) %></td>
        <td class="col-md-1"><%= book.rating %>/10</td>
        <td><%= link_to 'Show', book, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_book_path(book), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @books, :style => 'color:blue' %>
<br>

<%= link_to new_book_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Book
<% end %>
