<p id="notice"><%= notice %></p>

<p>
  <%= image_from_amazon(@book.amazon_id) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @book.rating %>/10
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'List', books_path %>
