<!DOCTYPE html>
<html>
<head>
  <title>ReadingList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1 align='center'>Reading List</h1>
	<table>
		<td class="nav_menu">
			<ul>Menu
			  <li>
			  	<ul class="main_menu_item">Books
			  	  <li><%= link_to 'List', books_path %></li>
			      <li><%= link_to 'New book', new_book_path %></li>
			    </ul>
			  </li>
			  <li>
			    <ul class="main_menu_item">Categories
			  	  <li><%= link_to 'List', categories_path %></li>
			      <li><%= link_to 'New category', new_category_path %></li>
			    </ul>
			  </li>
			</ul>
		</td>
		<td>
		  <%= yield %>
		</td>
	</table>
	<h6>Based on Code School's Ruby path screencasts</h6>

</body>
</html>
