<!DOCTYPE html>
<html>
<head>
  <title>ReadingList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1 align='center'>Reading List</h1>
	<table>
		<td class="nav_menu">
			<ul>
			  <li><%= link_to 'Books', books_path %></li>
			  <li><%= link_to 'Categories', categories_path %></li>
			</ul>
		</td>
		<td>
		  <%= yield %>
		</td>
	</table>
	<h6>Based on Code School's Ruby path screencasts</h6>

</body>
</html>
